<ion-header>
  <ion-toolbar>
     <ion-title></ion-title>


          <ion-buttons slot="start">
            <!-- <ion-button>  
                <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
            </ion-button> -->
            <ion-menu-button></ion-menu-button>
          </ion-buttons>  
               
          <ion-buttons slot="end">
            <ion-button>  
              <ion-icon  slot="icon-only" name="cart-outline"></ion-icon>
            </ion-button>
          </ion-buttons>  
             
          <ion-buttons slot="end">
            <ion-button>  
              <ion-icon  slot="icon-only" name="person-circle-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        
   
  </ion-toolbar>
</ion-header>
